div#authmessage {
    color: red;
}

/*for comments and history items in task modal*/
.task-modal-list-item {
    padding-top: 10px;
}

.loadingmodal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingmodal {
    display: block;
}

table {
    table-layout: fixed;
}

table th,
table td {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.countTable table tr td:nth-child(1), thead th:nth-child(1) {
    /*color: yellow;*/
    width: 5%;
    max-width: 5%;
}

.countTable table tr td:nth-child(2), thead th:nth-child(2) {
    /*color: yellow;*/
    width: 15%;
    max-width: 15%;
}

.countTable table tr td:nth-child(3), thead th:nth-child(3) {
    /*color: yellow;*/
    width: 30%;
    max-width: 30%;
}

.countTable table tr td:nth-child(4), thead th:nth-child(4) {
    width: 10%;
    max-width: 10%;
}

.countTable table tr td:nth-child(5), thead th:nth-child(5) {
    width: 10%;
    max-width: 10%;
}

.countTable table tr td:nth-child(6), thead th:nth-child(6) {
   width: 10%;
    max-width: 10%;
}

.countTable table tr td:nth-child(7), thead th:nth-child(7) {
    width: 10%;
    max-width: 10%;
}

.countTable table tr td:nth-child(8), thead th:nth-child(8) {
  width: 10%;
    max-width: 10%;
}